body {
  background-color: #51b3ff;
  color: #fff;
}

main {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: 100;
}

.box {
  margin: 50px;
}

.trigger {
  background-color: #51b3ff;
  color: #fff;
  display: block;
  margin: 50px auto;
  border: 1px solid #fff;
  padding: 15px 50px;
}

.tweet {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px 50px;
  font-weight: 50;
}
